.baderegeln{
  padding: 2rem;
  h2{
    color:$light;
    font-size: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
  .baderegeln_contant{
    background-color: rgba(45, 108, 180, 0.1);
    padding: 2rem 5rem;
    .baderegeln_item{
      padding-bottom: 1rem;
      .title{
        font-style: italic;
        line-height: 3rem;
        border-bottom: 1px solid $light;
      }
      .text{
        padding-top: 0.5rem;
      }

    }
  }
}