// .kontact{
//   background-color:$primaryColor;
//   height: 100vh;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items:center;
//   flex-wrap: wrap;
//   .container{
//     padding: 3rem;

//   .kontact_container{
//     display: flex;
//     padding: 3rem;
//     background-color:$bg;
//     justify-content: center;
//     flex-direction: column;

//     h1{
//       padding: 1rem 0;
//     }
//     .input{
//       padding-top:1rem;
//       display:flex;
//       flex-wrap: wrap;
//       input{
//         padding: 0.7rem;
//         margin-left: 0.5rem;
//         background-color:$primaryColor;
//       &:hover{
//         background-color:$bg;
//       }

//       }
//     }
//     div{
//       padding: 1rem 0;
//     .inputText{
//       padding: 1rem ;
//       height: 4rem;
//       font-size: 1rem;
//       background-color:$primaryColor;
//       &:hover{
//         background-color:$bg;
//       }
//     }
//     .btn:hover{
//       color:white;
//       background-color:$hoverColor;
//     }
//   }
//   }
// }
// }

.kontact {
  background-color: $primaryColor;
  text-align: center;
  max-width: 685px;
  padding: 2rem 1.5rem;
  margin: 2rem auto;


  .container {
    //display: flex;

    //max-width: 700px;
    //padding: 2rem;
    //justify-content: center;
  }

  .form {

    .contactInput {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 663px) {
        justify-content: center;
      }

      input {
        width: 300px;
        height: 50px;
        margin: 1rem 0;
        padding: 1rem;
        background-color: $bg;
        @media (max-width: 663px) {
          width: 100%;
        }
        @media (max-width: 468px) {
          width: 100%;
        }

      }

      .kontactBtn {
        margin-top: 1rem;
      }
    }


    textarea {
      //margin: 1rem;
      padding: 1rem;
      background-color: $bg;
      width: 100%;


    }
  }

}
