.kursPlan{
  display: flex;
  justify-content: center;  
  padding: 2rem;
h2{
  color:$light;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
.kursPlan_des{
  background-color: rgba(45, 108, 180, 0.1);
  padding: 2rem 4rem;
  .title{
    font-style: italic;
    line-height: 3rem;
    border-bottom: 2px solid $light;
  }
  .info{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    .info_item{
      line-height: 2rem;
      color:$textColor;
    }
    .btn{
      height: 3.5rem;
      color:$dark;
      margin-top: 1rem;
      &:hover{
        color:azure;
        background-color: $hoverColor;
      }
    }
  }
}
}